exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "pdf", "png")
importFrom("stats", "as.dist", "chisq.test", "cor", "cutree",
           "density", "dist", "hclust", "kmeans", "model.matrix", "sd",
           "setNames", "weighted.mean", "var", "aov")
importFrom("utils", "write.csv2")
importFrom("sva", "ComBat")
importFrom("DESeq2", "DESeq", "DESeqDataSetFromMatrix", "estimateSizeFactors", "estimateDispersions", "vst")
importFrom("SummarizedExperiment", "assay")
importFrom("Harman", "harman", "reconstructData")
importFrom("limma", "removeBatchEffect", "plotMDS")
importFrom("limma", "plotMDS")
importFrom("ggplot2", "ggplot", "geom_boxplot", "aes", "ggtitle", "ggplot_gtable", "ggplot_build", "geom_line", "geom_text", "geom_errorbar", "theme", "scale_linetype_manual", "unit", "element_text", "element_blank")
importFrom("reshape2", "melt")
importFrom("gtools", "rdirichlet")
importFrom("parallel", "mclapply")
importFrom("FNN", "get.knn", "KL.dist", "KL.divergence")
importFrom("invgamma", "rinvgamma")
importFrom("graphics", "legend")
importFrom("pspearman", "spearman.test")
importFrom("reshape2", "melt")
importFrom("MatrixGenerics", "rowSds", "rowMeans")
importFrom("grid", "grid.newpage", "pushViewport", "viewport", "grid.layout")
importFrom("gridExtra", "grid.arrange", "arrangeGrob")
importFrom("SingleCellExperiment", "SingleCellExperiment")
importFrom("scuttle", "logNormCounts")
importFrom("kBET", "kBET")
